nav {
  background-color: rgb(60, 60, 60);
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
nav a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}

nav a:hover {
  background-color: rgb(75, 75, 75);
}